menu "UNIT"
    config UNIT_SOIL_MOISTURE_PIN
        int "Soil moisture sensor pin"
        default 0

    config UNIT_SOIL_MOISTURE_WATER_VALUE
        int "Soil moisture sensor watter value"
        default 2260

    config UNIT_SOIL_MOISTURE_AIR_VALUE
        int "Soil moisture sensor air value"
        default 4095

    config UNIT_DRY_LEVEL
        int "Soil moisture sensor dry level"
        default 60

    config UNIT_VALVE_PIN
        int "Soil valve pin"
        default 3

    config UNIT_PUMP_PIN
        int "Watter pump pin"
        default 2
endmenu